<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body ng-app="app">

<div class="container">
    <h1>Angular App</h1>

    <div ng-controller="MainController">
        <input type="text" ng-model="text">
        <p ng-bind="text"></p>
        <div class="btn btn-primary" ng-click="addName()">Add Name</div>
        <hr>

        <p ng-bind="names"></p>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script>
    var app = angular.module('app', []);

    app.controller('MainController', function ($scope) {
        $scope.text = "Hello World";
        $scope.names = [];

        $scope.addName = function () {
            $scope.names.push($scope.text);
        };
    });
</script>

</body>
</html>